#fillInPost{
    width: 400px;
    height: 200px;
}

#menu{
    list-style: none;
    display: flex;
}

#calenderOption{
    list-style: none;  
}

li{
    margin-right: 4rem;
}

#days{
 width: auto;
 margin:auto;
}

td{
    margin: 2rem;
}